.footer {
    width: 100%;
    min-height: 100px;
    background-color: #000;
    background-image: url(../../img/footer-bg.jpg);
    padding: 35px 18% 15px 15px;
}

.footer__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    &:first-child {
        margin-bottom: 55px;
    }
    
    @include phone {
        flex-direction: column;
    }
}

.footer__col {
    margin-right: 25px;
    width: 33%;
    
    &:last-child {
        margin-right: 0;
        width: 28%;
        
        @include phone {
        width: 100%;
    }
    }
    
    @include phone {
        width: 100%;
        margin-bottom: 20px;
    }
//    
//    &:first-child {
//        width: 272px;
//    }
//    
//    &:nth-child(2) {
//        width: 281px;
//    }
}

.footer__title {
    color: #fff;
    font-size: 15px;
    
    margin-bottom: 25px;
}

.footer__text {
    color: #909090;
    font-size: 14px;
    line-height: 21px;
    
}

.footer__item {
    font-size: 14px;
    line-height: 21px;
    color: #bab290;
    padding: 12px 0;
    
    position: relative;
    
    &:after {
        
        content: '               ';
            width: 100%;
            height: 1px;
        background-color: rgba(#bab290, 0.3);
        
        position: absolute;
        left: 0;
        bottom: 0;
        
    }
    
    &:last-child {
        &:after {
            background-color: transparent;
        }
    }
    
    &:first-child {padding-top: 0;}
    
}

.footer__img {

max-width: 282px;
max-height: 179px;
    width: 100%;
}

.footer__row--info {
    font-size: 12px;
    color: #909090;
    
    .footer__col {
        width: 50%;
        
        &:last-child {
            text-align: right;
            
             @include phone {
        text-align: left;
    }
        }
        
        
         @include phone {
      width: 100%;
    }
    }
    
     @include phone {
        flex-direction: column;
    }
}

.footer__link {
    color: #909090;
    text-decoration: none;
    
    padding-right: 12px;
    position: relative;
    
    transition: .7s;
    
    &:hover {
        text-decoration: underline;
    }
    
    &:after {
        content: '';
        width: 9px;
        height: 8px;
        
        background-image: url(../img/arrow-up.png);
        
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}