@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

