section.feature
    h1.feature__title FEATURED PAGES
    ul.feature__list
        li.feature__item
            .feature__block 274 x 212
            p.feature__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            button.feature__btn(type='button') READ MORE
        li.feature__item
            .feature__block 274 x 212
            p.feature__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            button.feature__btn(type='button') READ MORE
        li.feature__item
            .feature__block 274 x 212
            p.feature__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            button.feature__btn(type='button') READ MORE
        li.feature__item
            .feature__block 274 x 212
            p.feature__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            button.feature__btn(type='button') READ MORE
            
    ul.feature__nav-list
        li.feature__nav-item.active
            a.feature__nav-link RECENT POSTS
        li.feature__nav-item
            a.feature__nav-link NEWS    
        li.feature__nav-item
            a.feature__nav-link GALLERIES    
        li.feature__nav-item
            a.feature__nav-link PEOPLE
            
    ul.feature__content-list
        li.feature__content-item
            .feature__content-block 114 x 86
            .feature__content-col
                p.feature__content-text Pellentesque habitant morbi tristique senectus et netus et malesuada fames Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                a(href='#').feature__content-link Read more 
                
        li.feature__content-item
            .feature__content-block 114 x 86
            .feature__content-col
                p.feature__content-text Pellentesque habitant morbi tristique senectus et netus et malesuada fames Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                a(href='#').feature__content-link Read more
        
        li.feature__content-item
            .feature__content-block 114 x 86
            .feature__content-col
                p.feature__content-text Pellentesque habitant morbi tristique senectus et netus et malesuada fames Pellentesque habitant morbi tristique senectus et netus et malesuada fames

                a(href='#').feature__content-link Read more 