footer.footer
    .footer__row
        .footer__col
            h3.footer__title About Left theme
            p.footer__text Pellentesque habitant morbi tristique senectus et netus et malesuada fames Pellentesque habitant morbi tristique senectus et netus et malesuada fames

        .footer__col
            h3.footer__title Recent posts
            ul.footer__list
                li.footer__item Pellentesque habitant morbi tristique.
                li.footer__item Pellentesque habitant morbi tristiquemorbi tristique senectus et netus.
                li.footer__item Pellentesque habitant morbi tristique.
                li.footer__item Pellentesque habitant morbi tristiquemorbi tristique senectus et netus.
                
        .footer__col
            h3.footer__title Photo stream
            +image('imgs.png', 'footer img', 'footer__img')
        
    .footer__row.footer__row--info
        .footer__col 
            .footer__info © 2011 Ansimuz. All Rights Reserved. Powered by WordPress.
        .footer__col
            a.footer__link(href='#') To top
        
        