.tweets
    h3.tweets__title.aside__title Latest tweets
    ul.tweets__list
        li.tweets__item.aside__content
            a.tweets__link(href='#') @Ansimuz  
            span.tweets__text habitant morbi tristique senectus et netus et malesuada fames ac egestas. Vestibulum tortor quam, feugiatt. 
            span.tweets__time 5 minutes ago
        li.tweets__item.aside__content
            a.tweets__link(href='#') @Ansimuz  
            span.tweets__text habitant morbi tristique senectus et netus et malesuada fames ac egestas. Vestibulum tortor quam, feugiatt. 
            span.tweets__time 5 minutes ago
        li.tweets__item.aside__content
            a.tweets__link(href='#') @Ansimuz  
            span.tweets__text habitant morbi tristique senectus et netus et malesuada fames ac egestas. Vestibulum tortor quam, feugiatt. 
            span.tweets__time 5 minutes ago